// main: ../less/main.less
/*  S T A R T  O F  header.less  */


.header {
    position: fixed;
    width: 100%;
    z-index: 200;
}
.header_gradient {
    position: absolute;
    width: 100%;
    height: 116px;
    .gradient (@startColor: rgba(0,0,0,0.75), @endColor: rgba(0,0,0,0));
    .opacity (1);
    .transition (all 1s);
}
.header__inner {
    position: relative;
    max-width: 1180px;
    padding: 28px 40px 0px;
    margin: 0 auto;
    overflow: hidden;
}

.logo_header {
    position: relative;
    float: left;
    z-index: 500;
}
.logo__img_header {
    width: 112px;
    .opacity (1);
    .transition (all 2s);
    z-index: 0;
}

.btn_header {
    visibility: visible;
    position: relative;
    float: right;
    width: 160px;
    margin-top: 3px;
    z-index: 100;
    .opacity (1);
    .transition (all 1s);
    overflow: hidden;
}

.fp-viewing-intro {
    .header_gradient,
    .logo__img_header,
    .btn_header {
        .opacity (0);
        .transition (all 0.3s);
        z-index: -100;
    }
}

.fp-viewing-clients,
.fp-viewing-partners,
.fp-viewing-contacts {
    .btn_header {
        background-color: @white;
        color: @main;
        border: 1px solid @white;
        &:hover {
            background-color: @main;
            color: @white;
            border: 1px solid @main;
        }
    }
}

@media @mobile {
    .header__inner {
        padding: 20px 20px 0px;
    }
    .logo__img_header {
        width: 87px;
    }
    .btn_header {
        display: none;
    }
}

@media @pre-tablet {
    .logo__img_header {
        width: 87px;
    }
    .btn_header {
        width: 100px;
        // line-height: 23px;
        padding: 0px 10px;
    }
}

@media @tablet {
    .btn_header {
        width: 100px;
        line-height: 23px;
    }
}


/*  E N D  O F  header.less  */
