// main: ../less/main.less

/*  S T A R T  O F  popup_menu.less  */


.popup_menu {
    overflow: scroll;
}
.popup_menu .popup__inner {
    position: relative;
    min-height: 420px;
    overflow: hidden;
}
.popup__menu-item {
    margin-bottom: 20px;
    .font_header;
    font-size: 30px;
    line-height: 30px;
    overflow: hidden;
}
.popup__menu-item .menu__link {
    color: @white;
    .transition (all 0.3s);
    cursor: pointer;
}
.popup__menu-item .menu__link:hover {
    color: @main;
    .transition (all 0.3s)
}
.popup__menu-item .menu__link:nth-last-child(1) {
    margin-bottom: 20px;
}
.popup_menu .btn_close {
    position: absolute;
    right: 20px;
    top: 31px;
}
.popup_menu .btn_blue {
    margin-top: 40px;
    margin-bottom: 20px;
}
.popup_menu .btn_white {
    margin-bottom: 20px;
}

@media @mobile {
    .popup_menu .btn {
        float: none;
        max-width: 280px;
    }
    .popup_menu .btn_blue {
        margin-top: 0;
    }
    .popup_menu .btn_close {
        right: 0;
    }
}


/*  E N D  O F  popup_menu.less  */
