// main: ../less/main.less

/*  S T A R T  O F  section_services.less  */


.section_services {
    min-height: 640px;
}
.section_services .section__header {
    margin-top: -50px;
    padding: 20px;
    font-size: 34px;
    .font_header;
}
.section_services .section__desc {
    max-width: 820px;
    padding-top: 10px;
}

.section_services .btn_white {
    margin: 0 auto;
}
.services {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 25px;
    overflow: hidden;
}
.service__block {
    float: left;
    width: 25%;
    margin-bottom: 15px;
}
.service {
    display: inline-block;
    color: @white;
}
.service_link:hover {
    color: @main;
    // .transition (all 0.3s);
    .service__img {
        border-color: @main;
        .transition (all 0.3s);
    }
    .icon {
        fill: @main;
        .transition (all 0.3s);
    }
    .service__title::after {
        background-image: url(../img/arrow_blue.svg);
        .transition (all 0.3s);
    }
}

.service__img {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
    fill: #ffffff;
    border-radius: 100%;
    border: 1px solid @white;
    .transition (all 0.3s);
}
.service__img_production {
    width: 36px;
}
.service__img_event {
    width: 44px;
}
.service__img_creative {
    width: 39px;
}
.service__img_digital {
    width: 37px;
}
.service__title {
    margin: 0 auto;
    .font_header;
    font-size: 20px;
    .transition (all 0.1s);
    &::after {
        content: '';
        display: inline-block;
        width: 9px;
        height: 11px;
        margin-left: 10px;
        background: url(../img/arrow.svg) no-repeat;
    }
}

.slide_services .btn {
    float: right;
    margin-bottom: 10px;
}
.section_services .section__inner .btn_white {
    max-width: 360px;
    &::after {
        content: '';
        display: inline-block;
        width: 9px;
        height: 10px;
        margin-left: 10px;
        background: url(../img/arrow.svg) no-repeat;
    }
    &:hover {
        &::after {
            background-image: url(../img/arrow_blue.svg);
        }
    }
}

@media @mobile {
    .section_services {
        .section__header {
            margin-top: 20px;
            padding: 0;
        }
        .section__desc {
            max-width: 580px;
        }
        .service__block {
            width: 50%;
            max-width: 400px;
        }
        .services {
            max-width: 400px;
            padding-bottom: 0;
            margin-bottom: 20px;
        }
        .service__img {
            margin-bottom: 10px;
        }
        .btn_white {
            max-width: 360px;
        }
    }
}
@media @pre-tablet {
    .section_services {
        .section__header {
            margin-top: -10px;
        }
        .services {
            margin-bottom: 20px;
        }
        .btn_white {
            max-width: 360px;
        }
    }
}
@media @tablet {
    .section_services {
        .section__header {
            margin-top: -10px;
        }
        .services {
            margin-bottom: 20px;
        }
        .btn_white {
            max-width: 360px;
        }
    }
}


/*  E N D  O F  section_services.less  */
