// main: ../less/main.less

/*  S T A R T  O F  section_projects.less  */


.projects_icon {
    position: relative;
    height: 176px;
}
.projects_img {
    width: 175px;
}

.section_projects .btn_blue {
    max-width: 280px;
    float: none;
    margin-bottom: 60px;
}

@media @mobile {
    .section_projects {
        .projects_icon {
            margin-top: 60px;
        }
        .section__header {
            padding-top: 10px;
        }
        .section__desc {
            padding-top: 10px;
        }
        .projects_img {
            width: 150px;
        }
    }
}


/*  E N D  O F  section_projects.less  */
