// main: ../less/main.less
/*  S T A R T  O F  section_intro.less  */


.section_intro {
    min-height: 550px;
    color: @black;
}
.logo__img {
    width: 180px; // Это 0,4 от оригинала (450)
}
.next-page-link {
    display: block;
    position: absolute;
    height: 75px;
    padding-top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    color: @main;
    font-size: 14px;
    .font_header;
    text-transform: uppercase;
    .gradient (rgba(255,255,255,0), rgba(0,0,0,0.4));
    .transition (all 0.3s);
    &::before {
        content: '';
        position: absolute;
        margin-top: 35px;
        margin-left: 35px;
        width: 30px;
        height: 16px;
        background-image: url(../img/arrow_down.svg);
    }
    &:hover::before {
        margin-top: 40px;
        .transition (all 0.3s);
    }
}

@media @mobile {
    .section_intro .section__desc {
        padding-bottom: 20px;
    }
}

@media @pre-tablet {
    .logo__img {
        width: 225px; // Это 0,5 от оригинала (450)
    }
}

@media @tablet {
    .logo__img {
        width: 360px; // Это 0,8 от оригинала (450)
    }
}

@media @desktop {
    .logo__img {
        width: 450px;
    }
}


/*  E N D  O F  section_intro.less  */
