// main: ../less/main.less
/*  S T A R T  O F  style.less  */


body {
    overflow: hidden;
    background: #fff;
    font-family: Helvetica, Arial, sans;
    .font-default;
    -webkit-font-smoothing: antialiased;
}
h1 {
	font: 90px/90px 'FuturaDemiC-Regular', sans-serif;
	margin-bottom: 30px;
	text-align: center;
}
h2 {
	font: 34px/34px 'FuturaDemiC-Regular', sans-serif;
	text-align: center;
}

#fullpage,
.section, {
    height: 100%;
}
.section {
    position: relative;
    background-color: #edf0f0;
    background-position: center;
    background-size: cover;
    color: @white;
}
.section__inner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
    text-align: center;
}
.section__header {
    padding-top: 30px;
    .font_header;
    font-size: 34px;
}
.section__desc {
    margin: 0 auto;
    padding: 20px 3px 40px;
    max-width: 600px;
    .font_main;
}

.blocks {
    // width: 1020px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    text-align: center;
}

.popup {
    visibility: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.4);
    z-index: 300;
    .transition (all 0.3s);
}
.popup-block {
    min-width: 280px;
    display: inline-block;
    text-align: left;
}
.popup__inner {
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
    background-color: @white;
    z-index: 110;
}
.active {
    visibility: visible;
}
.hide {
    visibility: hidden !important;
    .opacity (0);
    .transition (all 0.3s);
    cursor: default;
    z-index: -100;
}

.row() {
	width: 1180px;
	min-width: 320px;
	margin: 0 auto;
}
.vertical() {
    display: table;
    width: 100%;
    min-height: 480px;
}
.vertical-inner() {
    display: table-cell;
    vertical-align: middle;
}
.fullscreen() {
	background-size: cover;
	background-repeat: no-repeat;
}
.button {
	line-height: 40px !important;
	display: inline-block;
	height: 40px;
	vertical-align: top;
	padding: 0 25px;
	text-transform: uppercase;
	font: 14px/14px 'FuturaDemiC-Regular', sans-serif;
	cursor: pointer;
	user-select: none;
	transition: all .2s linear;

	// Цвета
	&--white {
		background: #fff;
		color: @blue;
		border: 1px solid #fff;
		&:hover {
			background: transparent;
			border: 1px solid #fff;
			color: #fff;
		}
	}
	&--blue {
		background: @blue;
		color: #fff;
		&:hover {
			background: #399cb4;
		}
	}
	&--transparent {
		color: #fff;
		border: 1px solid #fff;
		&:hover {
			background: #fff;
			color: @blue;
		}
	}
	&--transparent-blue {
		color: @blue;
		border: 1px solid @blue;
		&:hover {
			color:#fff;
			background: @blue;
		}
	}
	&--transparent-white {
		color: #fff;
		border: 1px solid #fff;
		&:hover {
			color:#fff;
			background: @blue;
			border: 1px solid @blue;
		}
	}

	&--noborder {
		border: none;
	}

	&__arrow {
		transition: all .2s linear;
    content: '';
    width: 7px;
    height: 11px;
    background: url('../img/arrow-white.png') no-repeat;
		display: inline-block;
		margin-left: 5px;
		&:hover {
			background: url('../img/arrow.png') no-repeat;
		}
	}
	&:hover {
		.button__arrow {
			background: url('../img/arrow-white.png') no-repeat;
		}
	}
}
article {
	font: 16px/24px 'PTSerif', sans-serif;
	text-align: center;
	width: 820px;
	margin: 0 auto;
	&.long {
		width: 900px;
	}
	& p {
		margin-bottom: 10px;
		font-size: 18px;
		font-family: 'Futura New Book', sans-serif;
	}
}
div.wpcf7-validation-errors {
	display: none !important;
}
div.wpcf7-mail-sent-ok {
	border: none;
	font: 14px/18px 'FuturaDemiC-Regular', sans-serif;
	color: @blue;
}
div.wpcf7 img.ajax-loader {
	margin-top: 32px;
}
#map p {
	color: #000;
}

.loader {
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background: #fff;
    &--hidden {
    	display: none;
    }
	&:before{
		content:'';
		width:50px;
		height:50px;
		border-radius:50%;
		box-sizing:border-box;
		border:solid 3px transparent;
		border-top-color: @blue;
		-webkit-animation:spin 1s infinite linear;
		animation:spin 1s infinite linear;
		position:absolute;
		top:50%;
		left:50%;
		margin:-15px 0 0 -15px
	}
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// .wpcf7-not-valid ~ .control-label
.wpcf7-not-valid-tip {
	font: 13px/13px 'FuturaDemiC-Regular', sans-serif !important;
	// color: fadeout(@red, 20%)  !important;
	padding-left: 8px;
	padding-top: 3px;
}
.input .wpcf7-not-valid-tip:before {
    position: absolute;
    content: '';
    width: 418px;
    height: 38px;
    border: 1px solid @red;
    top: -39px;
    left: -1px;
}
// .input ::-webkit-input-placeholder {
// 	color: fadeout(@blue, 20%);
// }
// .input ::-moz-placeholder          {
// 	color: fadeout(@blue, 20%);
// 	}/* Firefox 19+ */
// .input :-moz-placeholder           {
// 	color: fadeout(@blue, 20%);
// 	}/* Firefox 18- */
// .input :-ms-input-placeholder      {
// 	color: fadeout(@blue, 20%);
// }
// textarea::-webkit-input-placeholder {
// 	color: fadeout(@blue, 20%);
// }
// textarea::-moz-placeholder          {
// 	color: fadeout(@blue, 20%);
// 	}/* Firefox 19+ */
// textarea:-moz-placeholder           {
// 	color: fadeout(@blue, 20%);
// 	}/* Firefox 18- */
// textarea:-ms-input-placeholder      {
// 	color: fadeout(@blue, 20%);
// }

.textarea {
	& .wpcf7-not-valid-tip {
		&:before {
		    position: absolute;
		    content: '';
		    width: 418px;
		    height: 74px;
		    border: 1px solid #d24a43;
		    top: -86px;
		    left: -1px;
		}
	}
}

.input {
    width: 420px;
    min-width: 320px;
    height: 40px;
    border: 1px solid rgba(0, 187, 210, 0.4);
    display: inline-block;
    margin: 10px 0
}
.input input {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font: 16px 'FuturaDemiC-Regular', sans-serif;
    z-index: 1;
    position: relative
}
.input::-webkit-input-placeholder {
    color: rgba(0, 187, 210, 0.8)
}
.input::-moz-placeholder {
    color: rgba(0, 187, 210, 0.8)
}
.input:-moz-placeholder {
    color: rgba(0, 187, 210, 0.8)
}
.input:-ms-input-placeholder {
    color: rgba(0, 187, 210, 0.8)
}
.input_error {
    border: 1px solid #d24a43
}


.textarea {
    width: 420px;
    height: 76px;
    border: 1px solid rgba(0, 187, 210, 0.4);
    display: inline-block;
    margin: 10px 0
}
.textarea textarea {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    resize: none;
    padding-top: 5px;
    font: 16px 'FuturaDemiC-Regular', sans-serif;
    z-index: 1;
    position: relative
}
.textarea .wpcf7-not-valid-tip:before {
    position: absolute;
    content: '';
    width: 418px;
    height: 74px;
    border: 1px solid #d24a43;
    top: -86px;
    left: -1px;
}
textarea::-webkit-input-placeholder {
    color: rgba(0, 187, 210, 0.8)
}
textarea::-moz-placeholder {
    color: rgba(0, 187, 210, 0.8)
}
textarea:-moz-placeholder {
    color: rgba(0, 187, 210, 0.8)
}
textarea:-ms-input-placeholder {
    color: rgba(0, 187, 210, 0.8)
}

input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
    padding: 8px 9px;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 14px Arial, sans-serif;
    color: #333
}

input[type='search'].styler {
    -webkit-appearance: none
}

textarea.styler {
    overflow: auto
}

input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
    border-color: #b3b3b3
}

input[type='email'].styler:focus,
input[type='password'].styler:focus,
input[type='search'].styler:focus,
input[type='tel'].styler:focus,
input[type='text'].styler:focus,
input[type='url'].styler:focus,
textarea.styler:focus {
    border-color: #ccc;
    border-top-color: #b3b3b3;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
}

button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
    overflow: visible;
    padding: 8px 11px;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    outline: none;
    background: #f5f5f5;
    background: -webkit-linear-gradient(#fff, #e6e6e6);
    background: linear-gradient(#fff, #e6e6e6);
    box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 14px Arial, sans-serif;
    color: #333;
    text-shadow: 1px 1px #fff;
    cursor: pointer
}

button.styler::-moz-focus-inner,
input[type='button'].styler::-moz-focus-inner,
input[type='submit'].styler::-moz-focus-inner,
input[type='reset'].styler::-moz-focus-inner {
    padding: 0;
    border: 0
}

button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
    background: #e6e6e6;
    background: -webkit-linear-gradient(#f6f6f6, #e6e6e6);
    background: linear-gradient(#f6f6f6, #e6e6e6)
}

button.styler:not([disabled]):active,
input[type='button'].styler:not([disabled]):active,
input[type='submit'].styler:not([disabled]):active,
input[type='reset'].styler:active {
    background: #f5f5f5;
    box-shadow: inset 1px 1px 3px #ddd
}

button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
    border-color: #ccc;
    background: #f5f5f5;
    box-shadow: none;
    color: #888
}

.btns {
    margin: 0 auto;
    padding: 15px 0 0;
}
.btn {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    color: @white;
    .font_header;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border: 1px solid @white;
    border-radius: 2px;
    cursor: pointer;
    .transition (all 0.3s);
    &:hover {
        border-color: @main;
        color: @main;
    }
}
.btn_prev {
    float: left;
    width: 165px;
    max-width: 280px;
}
.btn_next {
    float: right;
    width: 165px;
    max-width: 280px;
}
.btn_blue {
    float: none;
    max-width: 280px;
    border: 1px solid @main;
    background-color: @main;
    &:hover {
        .transition (all 0.3s);
        border: 1px solid @white;
        background-color: @white;
        a {
            color: @main;
        }
    }
}
.btn_white {
    float: none;
    max-width: 280px;
}
.btn_close {
    content: '';
    // position: absolute;
    display: block;
    top: 25px;
    right: 20px;
    width: 24px;
    height: 24px;
    border: none;
    background-image: url(../img/cross_white.svg);
    // background-color: @white;
    background-size: contain;
    &:hover {
        background-image: url(../img/cross_blue.svg);
    }
}


.screen {
    background-color: #edf0f0;
    background-color: #4f3b1a;
    background-position: center;
    background-size: cover;
}
.slide__inner {
    margin: 0 auto;
    max-width: 700px;
}
.slide {
    height: 100%;
    overflow: hidden;
    // overflow: visible;
}
.slide__header {
  // margin-top: 50px;
  // margin-bottom: 50px;
    padding: 20px;
    .font_header;
    color: @white;
    font-size: 34px;
}
.slide__features {
    margin: 0 auto;
    overflow: hidden;
}
.icon {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    fill: @white;
    .transition (all 0.3s);
}

#fullPage-nav li a,
#menu li a {
    text-decoration: none;
}


@media @mobile {
    #fp-nav {
        display: none;
    }
    .section__inner {
        padding: 0 20px;
    }
    .section__desc {
        padding-bottom: 20px;
    }
    .feature {
        width: 100%;
    }
    .slide__btns {
        padding: 0 10px;
    }
    .btn_next {
        width: 100%;
    }
}

@media @pre-tablet {
    // .slide {
    //     padding: 0 80px;
    // }
}

@media @tablet {

}


/*  E N D  O F  style.less  */
